.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

.btn-circle i {
    position: relative;
    top: -1px;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
}

.btn-circle-lg {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.1rem;
}

.btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.3rem;
}

/* Style the buttons */
/* .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
} */
  
/* Style the active class (and buttons on mouse-over) */
/* .active, .btn:hover {
    background-color: #666;
    color: white;
} */

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    /* -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px; */
    background: #28A745;
    cursor: pointer;
    /*margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic /
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px; */
    background: #28A745;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px; */
    background: #28A745;
    cursor: pointer;
  }

  .chip {
    display: inline-block;
    padding: 0 10px;
    height: 20px;
    font-size: 11px;
    line-height: 20px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }